.container
  %h2.form_title Edit Board
  = form_with(model: @profile, url: profile_path, method: 'put', local: 'true') do |f|
    %div
      = f.label :avatar, 'avatar'
    %div
      = f.file_field :avatar
    %div
      = f.label :nickname, 'Name'  
    %div
      = f.text_field :nickname, class: 'text'
    %div
      = f.submit 'Submit', class: 'btn-primary' 