.container
  .card_show_top
    .board_title
      = @task.name
    .dropdown
      = image_tag 'Combined Shape.png', class: 'card_dropdown dropbtn'
      .dropdown-content
        = link_to 'Edit', edit_board_task_path(@board, @task)
        = link_to 'Delete', board_task_path(@board, @task), data: { method: 'delete', confirm: '本当に削除してもいいですか？' }
  .card_date
    %p deadline :  
    %p= @task.date
  -if @task.eyecatch.attached?
    .top_image
      = image_tag @task.eyecatch
  .card
    .card_content
      .card_description_show
        = @task.description
  
  .task
    %h2 Comment
    - @comments.each do |comment|
      .task_comment
        %p= comment.description

  = link_to new_board_task_comment_path(@board, @task) do
    .add_comment
      %p + Add new comment