.container
  - @boards.each do |board|
    .card
      .card_content
        .card_top
          %p.card_title 
            = board.name
          .dropdown
            = image_tag 'Combined Shape.png', class: 'card_dropdown dropbtn'
            .dropdown-content
              = link_to 'Detail', board_path(board)
              = link_to 'Edit', edit_board_path(board) 
              %p Delete
        .card_description
          = board.description
        .card_detail
          = image_tag 'default-avatar.png'

  = link_to new_board_path do
    .add_card
      %p + Add new board