.container
  %h2.form_title New Board
  = form_with(model: @board, local: 'true') do |f|
    %div
      = f.label :title, 'Name'  
    %div
      = f.text_field :name, class: 'text'
    %div
      = f.label :description, 'Description'
    %div
      = f.text_area :description, class: 'text'
    %div
      = f.submit :Submit, class: 'btn-primary' 