.container
  .board_title
    = @board.name
  - @tasks.each do |task|
    = link_to board_task_path(@board, task) do
      .card
        .card_image
          = image_tag 'ToDoPhoto.png'
        .card_content
          .card_top
            %p.card_title 
              = task.name
          .card_description
            = task.description
          .card_detail
            = image_tag @board.user.avatar_image
            .card_detail_img
              %div
                %span= task.comment_count
                %span 
                  = image_tag 'Shape.png'

  = link_to new_board_task_path(@board) do
    .add_card
      %p + Add new card
