!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ToDoApp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
  %body
    %header.header
      .header_logos
        - unless current_page?(root_path)
          = link_to :back do
            = image_tag 'left.png', class: 'header_back'
        %p.header_pageTitle
          = link_to 'Boards', root_path
      - if user_signed_in?
        .dropdown
          = image_tag 'default-avatar.png', class: 'header_avatar dropbtn'
          .dropdown-content
            %a{:href => "#"} Profile
            = link_to 'Log out', destroy_user_session_path, data: { method: 'delete' }
      - else
        = link_to new_user_session_path, class: 'header_loginBtn' do
          = image_tag 'log-in.png'
    - if flash.present?
      .flash
        - flash.each do |key, value|
          %div.key= value
    = yield